<a href="https://colab.research.google.com/github/gerardobeltran/AyDOO-1/blob/master/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lectura de datos de un archivo

In [ ]:
municipios = read.table("municipios.csv", header=T, sep=",")

In [ ]:
rownames(municipios) =

In [ ]:
municipios = municipios[,c("poblacion", "superficie")]

In [ ]:
municipios

                  poblacion superficie
Ahome             416299    4342
Angostura          44993    1447
Badiraguato        29999    5864
Concordia          28493    1524
Cosalá             16697    2665
Culiacán          858638    4758
Choix              32998    4512
Elota              42907    1518
Escuinapa          54131    1633
El Fuerte          97536    3843
Guasave           285912    3464
Mazatlán          438434    3068
Mocorito           45847    2566
Rosario            49380    2723
Salvador Alvarado  79085    1197
San Ignacio        22527    4650
Sinaloa            88282    6186
Navolato          135603    2285

In [ ]:
municipios

        poblacion superficie
Sinaloa 88282     6186

# Escritura de datos en un archivo

In [87]:
municipios = read.table("municipios.csv", header=T, sep=",")

In [92]:
orden = order(municipios$superficie)

In [90]:
municipios[orden, c("nombre", "superficie")]

   nombre            superficie
1  Ahome             4342
2  Angostura         1447
3  Badiraguato       5864
7  Choix             4512
4  Concordia         1524
5  Cosalá            2665
6  Culiacán          4758
10 El Fuerte         3843
8  Elota             1518
9  Escuinapa         1633
11 Guasave           3464
12 Mazatlán          3068
13 Mocorito          2566
18 Navolato          2285
14 Rosario           2723
15 Salvador Alvarado 1197
16 San Ignacio       4650
17 Sinaloa           6186

In [93]:
orden = order(-municipios$superficie)

In [94]:
municipios[orden, c("nombre", "superficie")]

   nombre            superficie
17 Sinaloa           6186
3  Badiraguato       5864
6  Culiacán          4758
16 San Ignacio       4650
7  Choix             4512
1  Ahome             4342
10 El Fuerte         3843
11 Guasave           3464
12 Mazatlán          3068
14 Rosario           2723
5  Cosalá            2665
13 Mocorito          2566
18 Navolato          2285
9  Escuinapa         1633
4  Concordia         1524
8  Elota             1518
2  Angostura         1447
15 Salvador Alvarado 1197